h1 {
    font-size: 40px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1e1e1e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #2e2e2e;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0.5);
}

.password-generator b {
    margin: 10px;
}

.password-generator{
    margin-top: 20px;
}

label {
    font-size: 20px;
    margin-right: 10px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0;
    margin-left: 5px;
}

#password-length {
    width: 40px;
    padding: 5px;
    margin-left: 10px; /* Espacio entre la etiqueta y el campo de entrada */
}

.options{
    margin: 20px 0;
}

button {
    background-color: #ffaa00;
    color: #000;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s;
}

button:hover {
    background-color: #ffcc00;
}

.output {
    margin-top: 20px;
}

#password-display {
    background-color: #1a1a1a;
    color:#ffcc00;
    padding: 10px;
    border-radius: 5px;
    word-wrap: break-word;
}

#copy-password {
    margin-top: 10px;
}